.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}

.dataCardContainer {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dataCard {
  margin: 10px 0;
  border: 1px solid black;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

